# Modelo de Regresion

### Notebook Set Up

In [7]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.multioutput import MultiOutputRegressor
from sklearn.metrics import mean_absolute_error, r2_score
import matplotlib.pyplot as plt

In [31]:
import os

# Muestra la ruta actual de tu notebook
os.getcwd()

'/Users/nicoletondu/Desktop/data-science-thesis-2025'

### Read the data

In [24]:
import pandas as pd

# Paths correctos desde tu working directory actual
path_2023 = "data/raw-data/eda_data/station_passenger_counts_2023.csv"
path_2024_2025 = "data/raw-data/eda_data/station_passenger_counts_2024_2025.csv"

# Lectura de los dos CSV
df_2023 = pd.read_csv(path_2023)
df_2024_2025 = pd.read_csv(path_2024_2025)

# Unimos ambos en un solo DataFrame
df_passengers = pd.concat([df_2023, df_2024_2025], ignore_index=True)

# Chequeo r√°pido
print("Shape:", df_passengers.shape)
df_passengers.head()

Shape: (411626, 5)

   TravelDate DayOfWeek          Station  EntryTapCount  ExitTapCount
0    20230101    Sunday   Abbey Road DLR            360           322
1    20230101    Sunday       Abbey Wood           4375          4382
2    20230101    Sunday    Acton Central            779           709
3    20230101    Sunday  Acton Main Line           1087           967
4    20230101    Sunday       Acton Town           2608          3059

In [27]:
# Path relativo para la tabla de estaciones
stations_path = "data/processed/stations_dimension_table.csv"

# Lectura de la tabla de estaciones
df_stations = pd.read_csv(stations_path)

# Chequeo r√°pido
print("Shape:", df_stations.shape)
df_stations.head()

Shape: (946, 15)

,StopAreaNaptanCode,Mode,Line,UniqueId,Name,FareZones,HubNaptanCode,Wifi,AirportInterchange,BlueBadgeCarParking,BlueBadgeCarParkSpaces,StationUniqueId,IsAccessible,IsFeeCharged,Id
0,910GABWD,nationalRail,national-rail,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,910GABWD,elizabeth-line,elizabeth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,910GACTNCTL,overground,mildmay,910GACTNCTL,Acton Central,3,NaN,True,NaN,False,NaN,NaN,NaN,NaN,NaN
3,910GACTONML,elizabeth-line,elizabeth,910GACTONML,Acton Main Line,3,NaN,False,NaN,False,NaN,910GACTONML,True,False,1.0
4,910GANERLEY,overground,windrush,910GANERLEY,Anerley,4,NaN,True,NaN,False,NaN,NaN,NaN,NaN,NaN